/*.top-bar-section li a:not(.button) {*/
    /*background: #1976d2 !important;*/
/*}*/

/*.top-bar-section li a:not(.button):hover {*/
    /*background: #1565c0 !important;*/
/*}*/

/*.top-bar-section ul li.active > a {*/
    /*background: #0d47a1 !important;*/
/*}*/

/*.top-bar-section ul li.active > a:hover {*/
    /*background: #1565c0 !important;*/
/*}*/

/*.box{*/
    /*border:solid 1px #CCC;*/
/*}*/
/*.input-transparent{*/
    /*background-color: transparent;*/
    /*border:none;*/
/*}*/

/*input[type="text"].input-transparent::-webkit-input-placeholder {*/
  /*color: white;*/
/*}*/

/*input[type="text"].input-transparent:-moz-placeholder {*/
  /*color: white;*/
/*}*/

/*input[type="text"].input-transparent::-moz-placeholder {*/
  /*color: white;*/
/*}*/

/*input[type="text"].input-transparent:-ms-input-placeholder  {*/
  /*color: white;*/
/*}*/

/*.footerholder {*/
    /*background: none repeat scroll 0 0 transparent;*/
    /*bottom: 0;*/
    /*position: fixed;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*color: #CCC;*/
/*}*/

/*.footer {*/
    /*background: none repeat scroll 0 0;*/
    /*margin: auto;*/
    /*width: 100%;*/
/*}*/

/*.ui-column-filter.ui-inputfield.ui-inputtext{*/
    /*border:none;*/
    /*width:100%;*/
    /*box-shadow: none;*/
    /*background-color: transparent;*/
/*}*/

/*.btn-green {*/
	/*-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;*/
	/*-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;*/
	/*box-shadow:inset 0px 1px 0px 0px #9acc85;*/
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));*/
	/*background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);*/
	/*background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);*/
	/*background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);*/
	/*background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);*/
	/*background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);*/
	/*background-color:#74ad5a;*/
	/*border:1px solid #3b6e22;*/
	/*display:inline-block;*/
	/*cursor:pointer;*/
	/*color:#ffffff;*/
	/*font-family:Arial;*/
	/*font-size:13px;*/
	/*font-weight:bold;*/
	/*padding:6px 12px;*/
	/*text-decoration:none;*/
/*}*/
/*.btn-green:hover {*/
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));*/
	/*background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);*/
	/*background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);*/
	/*background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);*/
	/*background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);*/
	/*background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);*/
	/*background-color:#68a54b;*/
        /*color: white !important;*/
/*}*/
/*.btn-green:active {*/
	/*position:relative;*/
	/*top:1px;*/
/*}*/

/*.btn_remove{*/
    /*position:absolute;*/
    /*top:5px;*/
    /*right: 8px;*/
    /*color:white;*/
/*}*/
