<!DOCTYPE html>

<!--suppress ALL -->
<html class="no-js" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pretty="http://ocpsoft.com/prettyfaces"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<!-- Aplicando Template -->
<ui:composition template="/template.xhtml">
    <ui:define name="title"> T-BLOG </ui:define>

    <!-- CONTEÚDO -->

    <ui:define name="content">
        <h:form id="formulario">
            <!-- POSTAGENS: ITERANDO -->
            <ui:repeat value="#{comentarioBean.comentarios}" var="comentario">
                <div class="large-12 cell">
                    <div class="my-detail">
                        <div class="white-spacing-titel">
                            <h3 class="Poppins-font"> #{comentario.autorDoComentario}</h3>
                            <!-- TEXTO DA POSTAEM -->
                            <p>#{comentario.textoDoComentario}</p>
                        </div>
                        <h:form>
                            <ul class="social-icon" style="text-align: right">
                                <h:link id="novo-comentario" outcome="/pages/novo-comentario"
                                        styleClass="button radius evernote">
                                        <i class="fas fa-file-alt"></i>
                                </h:link><li></li>

                                <h:commandLink id="excluir-comentario" action="#{comentarioBean.deletar(comentario)}"
                                               styleClass="button radius alert">
                                               <i class="fas fa-trash"></i>
                                               <!--<f:ajax render=":content" />-->
                                               <f:ajax render="@form" />
                                </h:commandLink>
                            </ul>
                        </h:form>
                    </div>
                </div>
            </ui:repeat>
        </h:form>

    <!-- CONTEÚDO -->

    </ui:define>

<!--/ Aplicando Template -->
</ui:composition>
</html>