<!DOCTYPE html>

<!--suppress ALL -->
<html class="no-js" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pretty="http://ocpsoft.com/prettyfaces"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/template.xhtml">
     <ui:define name="title"> T-BLOG </ui:define>

    <!-- CONTEÚDO -->

     <ui:define name="content">
         <div class="large-12 cell">
            <div class="my-detail">
                <div class="white-spacing-titel">
                    <h3 class="Poppins-font"> EDIÇÃO DE POSTAGEM </h3>
                    <h:messages errorClass="alert-box alert radius"/>
                    <h:form  id="formulario" prependId="false">
                        <div class="simple-subscription-form">
                            <div class="input-group">
                                <p:inputTextarea id="textoDaPostagem" value="#{edicaoPostagemBean.postagem.textoDaPostagem}" rows="7" cols="33" placeholder="Postagem"/>
                            </div>
                            <div class="grid-x grid-margin-x">
                                <div class="large-7 cell">
                                    <label>
                                        <p:inputTextarea id="titulo" value="#{edicaoPostagemBean.postagem.tituloDaPostagem}" rows="1" placeholder="Título"/>
                                    </label>
                                </div>
                                <div class="large-5 cell">
                                    <label>
                                        <p:inputTextarea id="Autor" value="#{edicaoPostagemBean.postagem.autorDaPostagem}" rows="1" placeholder="Autor"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 cell">
                            <ul class="social-icon" style="text-align: right">

                                <h:commandLink id="salvar-postagem"
                                               type="submit" action="#{edicaoPostagemBean.atualizar(edicaoPostagemBean.postagem)}"
                                               styleClass="button radius twitter" update="formulario">
                                    <i class="fas fa-pen"></i>
                                </h:commandLink>

                                <h:link outcome="/pages/postagens" styleClass="button radius evernote">
                                    <i class="fas fa-home"></i>
                                </h:link>
                            </ul>
                        </div>
                    </h:form>
                </div>
            </div>
         </div>

     <!-- CONTEÚDO -->

     </ui:define>

<!--/ Aplicando Template -->
</ui:composition>

</html>
