<!DOCTYPE html>

<html class="no-js" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pretty="http://ocpsoft.com/prettyfaces"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<!-- Aplicando Template -->
<ui:composition template="/template.xhtml">
    <ui:define name="title"> T-BLOG </ui:define>

    <!-- CONTEÚDO -->

    <ui:define name="content">
        <h:form id="formulario">
            <!-- POSTAGENS: ITERANDO -->
            <ui:repeat value="#{postagemBean.postagens}" var="postagem">
                <div class="large-12 cell">
                    <div class="my-detail">
                        <div class="white-spacing-titel">
                            <h3 class="Poppins-font"> #{postagem.tituloDaPostagem}</h3>
                            <!-- LABELS: Autor, Data da Postagem, Curtidas, Comentários -->
                            <a href="" class="button tiny hollow button secondary disabled" >#{postagem.autorDaPostagem}</a>
                            <a href="" class="button tiny hollow button secondary disabled">#{postagem.dataDaPostagemFormatada} </a>
                            <a href="" id="curtidas" class="button tiny hollow button secondary disabled">#{postagem.numeroDeCurtidas} curtidas</a>
                            <a href="" id="comentarios" class="button tiny hollow button secondary disabled">#{postagem.numeroDeComentarios} comentários</a>
                            <!-- TEXTO DA POSTAEM -->
                            <p>#{postagem.textoDaPostagem}</p>
                        </div>

                        <ul class="social-icon" style="text-align: right">

                            <!--Edição de Postagem-->
                            <pretty:link mappingId="edicao-postagem" styleClass="button radius evernote">
                                <!--rendered="#{mBUsuario.usuario.isAdmin}">-->
                                <i class="fas fa-edit"></i>
                                <f:param value="#{postagem.id}"/>
                            </pretty:link>

                            <h:link id="nova-postagem" outcome="/pages/nova-postagem" styleClass="button radius evernote">
                                <!--rendered="#{mBUsuario.usuario.isAdmin}">-->
                                <i class="fas fa-file-alt"></i>
                                <f:ajax render="@form" resetValues="true"/>
                            </h:link>

                            <h:commandLink id="excluir-postagem" action="#{postagemBean.deletar(postagem)}" styleClass="button radius evernote">
                                <!--rendered="#{mBUsuario.usuario.isAdmin}">-->
                                <i class="fas fa-trash"></i>
                                <!--<f:ajax render=":content" />-->
                                <f:ajax render="@form" />
                            </h:commandLink>

                            <pretty:link mappingId="comentarios" styleClass="button radius verde">
                                <i class="fas fa-comment-dots"></i>
                                <f:param value="#{postagem.id}"/>
                            </pretty:link>

                            <h:commandLink id="curtir-postagem" action="#{postagemBean.curtir(postagem)}" styleClass="button radius pink">
                                <i class="fas fa-heart"></i>
                                <f:ajax render="@form" resetValues="true"/>
                            </h:commandLink>
                        </ul>
                    </div>
                </div>
            </ui:repeat>
        </h:form>

    <!--/ CONTEÚDO -->

    </ui:define>

<!--/ Aplicando Template -->
</ui:composition>

</html>
