<!DOCTYPE html>

<html class="no-js" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pretty="http://ocpsoft.com/prettyfaces"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>

    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8"/>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0"/>
    <title> T-BLOG </title>

    <!-- ZURB: estilos zurb foundation framework -->
    <h:outputStylesheet library = "css" name = "normalize.css"/>
    <h:outputStylesheet library = "css" name = "foundation.min.css"/>
    <h:outputStylesheet library = "css" name = "foundation.css"/>
    <h:outputStylesheet library = "css" name = "app.css"/>
    <h:outputStylesheet library = "css" name = "toastr.css"/>
    <h:outputStylesheet library = "css" name = "sweetalert.css"/>
    <h:outputStylesheet library = "css" name = "normalize.css"/>

    <!-- ZURB: JS e afins -->
    <h:outputScript library = "js" name = "jquery.js"/>
    <h:outputScript library = "js" name = "modernizr.js"/>
    <h:outputScript library = "js" name = "foundation.min.js"/>
    <h:outputScript library = "js" name = "foundation.alert.js"/>
    <h:outputScript library = "js" name = "foundation.topbar.js"/>
    <h:outputScript library = "js" name = "foundation.orbit.js"/>
    <h:outputScript library = "js" name = "toastr.js"/>
    <h:outputScript library = "js" name = "sweetalert.min.js"/>

    <!-- PRIMEFACES: JS -->
    <h:outputScript library = "primefaces" name = "jquery/jquery.js" target = "head"/>
    <h:outputScript library = "primefaces" name = "jquery/jquery-plugins.js" target = "head"/>
    <h:outputScript library = "js" name = "utils.js"/>

    <!-- FONTS: Google Icon Font -->
    <link href = "http://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet"/>
    <link href = "https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel = "stylesheet"/>

    <!-- FONTS: Awesome -->
    <h:outputScript library = "webjars" name = "font-awesome/5.5.0/js/all.js"/>

</h:head>

    <h:body>
        <!-- TOPBAR -->
        <!-- Top Bar: Nível 1 -->
        <div class="top-bar" id="top-bar-nivel-1">
            <div class="top-bar-right">
                <h:form>
                    <p:commandLink id="login" onclick = "alert('LOGIN: Implementar Login!');" styleClass="button radius verde"><i class="fas fa-key"></i></p:commandLink>
                    <h:link id="ir_para_home" outcome="/pages/postagens" style="margin-right: 15rem" styleClass="button radius evernote" ><i class="fas fa-home"></i></h:link>
                </h:form>
            </div>
        </div>
        <!-- Top Bar: Nível 2 -->
        <div class="top-bar" id="top-bar-nivel-2">
            <div class="top-bar-left">
                <!-- Texto de identificação T-BLOG -->
                <h3 class="Poppins-font" style="margin-left: 7.5rem"> T-BLOG </h3>
            </div>
        </div>
        <!--/ TOPBAR -->

        <div class="grid-y" style="height: 50px;"><div class="cell large-2"></div></div>

        <!-- BARRA LATERAL -->
        <div id="barra-lateral">
            <div class="container">
                <div class="grid-x" >
                    <!-- CARD LATERAL -->
                    <div class="large-1 cell"></div>
                    <div class="large-3 cell">
                        <div class="about-fixed">
                            <!-- Imagem -->
                            <div class="my-pic">
                                <h:graphicImage library="images" name="1up.png" alt="Alex Aquino"/>
                            </div>
                            <!-- Informações -->
                            <div class="my-detail">
                                <div class="white-spacing">
                                    <h1>Alex Aquino</h1>
                                    <span>Padawan Developer</span>
                                </div>
                                <!-- Icones sociais -->
                                <ul class="social-icon">
                                    <li><a href="https://www.facebook.com/AlexAquino.it" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/alexaquino_it/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/aquinoalex/" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://github.com/alexaquino" target="_blank" class="github"><i class="fab fa-github-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/ CARD LATERAL -->

                    <!-- ÁREA DE CONTEÚDO -->
                    <div class="large-6 cell">
                        <div class="grid-x" >
                            <ui:insert name="content">Content</ui:insert> <!-- Conteúdo -->
                        </div>
                    </div>
                    <!--/ ÁREA DE CONTEÚDO -->

                    <div class="large-1 cell"></div>
                </div>
            </div>
        </div>

        <!-- Necessário para o correto funcionamento do foundation framework-->
        <h:outputScript library="js" name="jquery.js"></h:outputScript>
        <h:outputScript library="js" name="foundation.min.js"></h:outputScript>
        <h:outputScript>$(document).foundation();</h:outputScript>

    </h:body>
</html>
